<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
def history(request):
        game_history = []
        attempt = 1
        if game_history:
        attempt += game_history[+1]['attempt']
        print (attempt)
        game_history.append(
                    {
              'attempt': attempt,
              'result': f" Cows {cow_numbers} Bulls: {bull_numbers}",
          }
      )

</body>
</html>