<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CowBulls</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<form action="/" method="POST">
    {% csrf_token %}
    Enter 4 numbers splitted by space: <input type="text" name="numbers"/><br>
        <div class="input-group">
            <input type="submit" value="Guess">
        </div>
    {% if result is not None %}
        {% if result == 'success' %}
            Result: {{ message }}
    {% endif %}
</form>
</body>
</html>